{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}


    <!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{% url 'index' %}">Home</a></li>
			<li class="active">ログイン</li>
		</ol>

		<div class="row" style="text-align: center;">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">ログイン</h1>
				</header>

				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<p class="text-center text-muted">アカウントを持っていませんか？ <a href="signup.html">こちら</a>から登録できます。</p>
							<hr>

							   <form method='post' class="form-auth">

                {% csrf_token %}
								<div class="top-margin">
									<label>ユーザーネーム <span class="text-danger">*</span></label>
									{% render_field form.login class='form-control' placeholder='ユーザーネーム' %}
								</div>
								<div class="top-margin">
									<label>パスワード <span class="text-danger">*</span></label>
									{% render_field form.password class='form-control' placeholder='パスワード' %}
								</div>

								<hr>

								<div class="row">
                                    <!---
                                    -->
									<div class="col-lg-8">
										<b><a href="">パスワードを忘れましたか？</a></b>
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">ログイン</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>

			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
{% endblock %}