nuko

<a href="{% url 'account_login' %}">

    <button class="btn btn-warning">login
        <i class="fa fa-caret-right"></i>
    </button>
</a>
<a href="{% url 'account_signup' %}">

    <button class="btn btn-warning">signup
        <i class="fa fa-caret-right"></i>
    </button>
</a>
<a href="{% url 'account_logout' %}">

    <button class="btn btn-warning">logout
        <i class="fa fa-caret-right"></i>
    </button>
</a>

<a href="{% url 'post_create' %}">

    <button class="btn btn-warning">create
        <i class="fa fa-caret-right"></i>
    </button>
</a>


<a href="{% url 'inu_random' %}">

    <button class="btn btn-warning">inu_random
        <i class="fa fa-caret-right"></i>
    </button>
</a>

<a href="{% url 'sibainu_random' %}">

    <button class="btn btn-warning">sibainu_random
        <i class="fa fa-caret-right"></i>
    </button>
</a>


<hr>
<form class="" action="{% url 'Calory' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<p>犬or猫を入力<br>
<input type="radio" name="q1" value="犬"> 犬
<input type="radio" name="q1" value="猫"> 猫
</p>
<input type="submit" name="button" value="送信">
</form>