nuko

<a href="{% url 'account_login' %}">

    <button class="btn btn-warning">login
        <i class="fa fa-caret-right"></i>
    </button>
</a>
<a href="{% url 'account_signup' %}">

    <button class="btn btn-warning">signup
        <i class="fa fa-caret-right"></i>
    </button>
</a>
<a href="{% url 'account_logout' %}">

    <button class="btn btn-warning">logout
        <i class="fa fa-caret-right"></i>
    </button>
</a>

<a href="{% url 'post_create' %}">

    <button class="btn btn-warning">create
        <i class="fa fa-caret-right"></i>
    </button>
</a>

