
{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}



{% block content %}

    <!-- container -->
    <div class="container" >
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">適性食事量計算（猫）</li>
        </ol>

        <div class="row" style="text-align: center;">

            <!-- Article main content -->
            <article class="col-sm-13 maincontent">
                <header class="page-header">
                    <h1 class="page-title">適性食事量計算（猫）</h1>
                </header>
                <hr>


                <form action="{% url 'Calory_form' %}"  name="contact-form" method="post"
                      enctype="multipart/form-data">

                    {% csrf_token %}

    <label id='weight' >
体重
    <input value=2 class="form-control" type="number" name="weight"
           min="0" max="200" step="0.01">

</label>
                    <label>

                    猫の年齢・肥満
<select name="select" class="form-control" onchange="outputSelectedValueAndText(this);">
    <option value=1>成猫</option>
    <option value=2>生後１２か月以内</option>
    <option value=3>高齢</option>
    <option value=4>肥満</option>
</select>
                    </label>

                    <label id='q1'>
                        去勢の有無
<select class="form-control"  name="q1" style="display: block;">
    <option value=1>去勢済み</option>
    <option value=2>去勢していない</option>
</select>
                        </label>

<label id='q2' style="display: none;">
生後何か月か
    <input class="form-control" type="number" name="q2"
           min=0 max=12>

</label>
    <label id='calory'>
食事100g辺りのcalory
    <input value=100 class="form-control" type="number" name="calory"
           min=0 max=100000>

</label>
<hr>
    <input type="hidden" name="inuneko"
           value=2>
<input class="btn btn-action" type="submit" value="送信する">
</form>

            </article>
        </div>
    </div>

<script type="text/javascript">

    function outputSelectedValueAndText(obj) {
        /*
         * obj は select タグであり、selectedIndex プロパティには
         * 変更後の選択項目のインデックスが格納されています
         */
        var idx = obj.selectedIndex;
        var value = obj.options[idx].value; // 値
        var text = obj.options[idx].text;  // 表示テキスト
        q2 = document.getElementById("q2");
        q1 = document.getElementById("q1");
        console.log('value = ' + value + ', ' + 'text = ' + text);

        if (value == 2) {
            // noneで非表示

            q2.style.display = "block";
            q1.style.display = "none";
            console.log('value = ' + value + ', ' + 'text = ' + text);
        } else if (value == 1) {
            // blockで表示
            q2.style.display = "none";
            q1.style.display = "block";
            console.log('value = ' + value + ', ' + 'text = ' + text);

        } else {
            q2.style.display = "none";
            q1.style.display = "none";
            console.log('value = ' + value + ', ' + 'text = ' + text);
        }


    }

    function btnClick() {

        q1 = document.getElementsByName("q1");
        q2 = document.getElementsByName("q2");

        console.log(q1.value)
        if (q1.value === 1) {
            // noneで非表示

            q2.style.display = "none";
        } else {
            // blockで表示
            q2.style.display = "none";
        }
    }
</script>
{% endblock %}