{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}




    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">投稿</li>
        </ol>

        <div class="row" style="text-align: center;">

            <!-- Article main content -->
            <article class="col-sm-13 maincontent">
                <header class="page-header">
                    <h1 class="page-title">記録を投稿する</h1>
                </header>


                <br>
                <form name="contact-form" method="post" enctype="multipart/form-data"
                      >

                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <label>Title *</label>
                        <br>
                        {% render_field form.title class='form-control' placeholder='タイトルを入力' %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label>画像</label>
                        {% render_field form.image %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Message *</label>

                        {% render_field form.content class='form-control' placeholder='本文を入力' %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">

                        <label>カテゴリ *</label>

                        {% render_field form.category class='form-control' %}

                    </div>
                </div>
                <br>
                <div>
                    <input class="btn btn-action" type="submit" value="投稿">
                </div>
                </form>
        </article>
        </div>


        <!-- /Article -->


    </div>    <!-- /container -->

{% endblock %}