{% extends 'app/base.html' %}
{% load static %}

{% block content %}



<!-- container -->
        <div class="container">


                <article class="col-sm-8 maincontent">

                    <header class="page-header">
                        <h3 class="page-title">【{{ post_data.title }}】</h3>
                    </header>
                    <h5 class="card-title"><strong>【作成者：{{ post_data.author }}】</strong> 　作成日：{{ post_data.created }}</h5>
                    <h5 class="card-title">カテゴリ：{{ post_data.category }}</h5>
                    <br>
                    <h4>{{ post_data.content }}</h4>
                    <br>
                         <a href="{% url 'post_edit' post_data.id %}" style="margin-right: 15px">
                            <button class="btn btn-warning" type="submit">
                                自分の投稿を編集する
                            </button>


                        </a>

                           <a href="{% url 'post_delete' post_data.id %}" style="margin-right: 15px">
                            <button class="btn btn-danger" type="submit">
                                自分の投稿を削除する
                            </button>


                        </a>
                </article>






                {% if post_data.image %}

                    <!-- Sidebar -->
                    <aside class="col-sm-4 sidebar sidebar-right">

                        <div class="widget">
                            <img src="{{ post_data.image.url }}" alt="" class="img-rounded pull-right"
                                 width="500">
                        </div>

                    </aside>
                    <!-- /Sidebar -->

                {% else %}


                    <!-- Sidebar -->
                    <aside class="col-sm-4 sidebar sidebar-right">

                        <div class="widget">
                            <img src="{% static 'assets/images/mac.jpg' %}" alt="" class="img-rounded pull-right"
                                 width="500">
                        </div>

                    </aside>
                    <!-- /Sidebar -->

                {% endif %}


                </div>    <!-- /container -->



{% endblock %}